<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="Styles.css" rel="stylesheet"/>
  </head>
  <body>
  {{{body}}}
  </body>
  <foot>
  </foot>
</html>
