This is your content! You can pass in data as a JSON object and access it like this:

{{#each data}}
  {{element}}
{{/each}}

 	<h2>Heading</h2>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
<p><a class="btn btn-default" href="http://getbootstrap.com/examples/offcanvas/#" role="button">Full Article »</a></p>
</div><!--/.col-xs-6.col-lg-4-->

